body{
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    z-index: 1;
    background-color: hsla(0,0%,100%,0.4);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}